<mat-card>
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input type="text" placeholder="enter title" matInput [(ngModel)] =  "title">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Message</mat-label>
    <textarea placeholder="enter message here..." matInput rows="10" #postInput [(ngModel)] = "content"></textarea>
  </mat-form-field>
  <button mat-flat-button color="accent" (click)="onAddPost(postInput)">
    send
  </button>
</mat-card>
